fixposition()
  top 0
  bottom 0
  left 0
  right 0
  position absolute


body
  margin 0
  padding 0
  background-color white
  fixposition()

#graph-container
  fixposition()


.title-box
    font-family monospace
    position fixed
    padding 4px
    background-color #eee
    text-shadow 0px 1px 2px #ccc
    z-index 1

.popup
  position relative
  background #fff
  padding 20px
  width auto
  max-width 500px
  margin 20px auto
