fixposition()
  top 0
  bottom 0
  left 0
  right 0
  position absolute


body
  margin 0
  padding 0
  background-color white
  fixposition()

#graph-container
  fixposition()


.title-box
  font-size 18px
  font-weight bold
  color #d22
  position fixed
  padding 4px 12px
  border-radius 16px
  z-index 1

.package-info-box
  border #daa solid 1px
  box-shadow 0 1px 4px rgba(0,0,0,0.3)
  background-color #fff8f8
  width 300px
  top 80px
  font-family Menro
  font-size 14px
  position fixed
  padding 5px 10px
  z-index 1
  opacity 0.92
  span
    font-size 10px
    color #888
  a:link
    color #844
    font-size 20px
    font-weight bold
    text-decoration none
  a:hover
    text-shadow 0px 0px 4px #f88

.desc
  color #333
  margin-top 8px
